
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: orange;
    display: inline-flex;
    padding: 12px;
    border: solid black 2px;
}
a {
    text-decoration: none;
    color: black; 
    font-family: 'Alfa Slab One', sans-serif;
}
h1 {
    font-family: 'Alfa Slab One', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
.header ul  {
    display: inline-flex;
    justify-content: space-between;    
}
.header ul li {
    margin: auto 15px;
    list-style: none;
    padding-right: 15px;
    flex-wrap: wrap;
}
.headerLogo {
    color: blue;
    flex-grow: 1;
}
a:hover {
    color: blue;
}

main {
    position: relative;
    top: 95px;
    
}

/* Pagina principal*/
.promocion {
    display: inline-flex;
    width: 100%;
    background-color: orange;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 37rem;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    
}
.promocionInfo {
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.promocionInfo h1 {
    font-size: 6rem;
    color: red;
}

.promocionInfo li {
    list-style: none;
}

.promocionInfo a {
    margin-top: 1.5rem;
    background-color: red;
    font-size: 1.75rem;
    border: solid black 2px;
    padding: 0.5rem;
}

.promocion img {
    width: 40%;
    height: 37rem;
    border: blue solid 2px;
}


.inicio {
    display: inline-flex;
    width: 100%;
    background-image: url("images/extras/inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45rem;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    
}
.inicioInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    flex-shrink: 1;
}
.inicioInfo h1 {
    color: white;
    font-size: 2.4rem;
    text-align: center;
    width: 30rem;
}
.inicioInfo h3 {
    color: white;
    background-color: #171717;
    font-size: 1.30rem;
    height: 2rem;
    text-align: center;
    padding: 1rem 0.4rem 0.7rem 0.4rem;
    width: 30rem;
}
.inicio img{
    height: 30rem;
    width: 40%;
    border-radius: 50%;
    margin-left: 5rem;
}


/*que hacemos*/

.queHacemos {
    border-top: orange solid 1px;
    top: 1px;
    position: relative;
    width: 100%;
    display: inline-flex;
}
.queHacemos img {
    width: 40%;
    height: 54rem;
}
.queHacemosInfo {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.queHacemosInfo h2 {
    background-color:rgba(255, 145, 70) ;
    color: rgb(46, 44, 44);
    font-family: 'Alfa Slab One', sans-serif;
    text-align: center;
    font-size: 4rem;
    padding: 1rem;    
}
.queHacemosInfo p {
    color: white;
    text-align: justify;
    width: 35rem;
    
}

/* Servicios */
.flex-container_servicios {
    padding-top: 3rem;
    margin: auto;
    
    height: 30rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.servicios h1 {
    
    background-color:rgba(255, 145, 70);
    color: rgb(46, 44, 44);
    font-family: 'Alfa Slab One', sans-serif;
    margin: 5rem auto;
    width: 30rem;
    text-align: center;
    font-size: 2rem;
    padding: 1rem; 
}
.servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: 20rem;
}
.servicios img {
    border-radius: 50%;
    width: 200px;
}
.servicios h4 {
    color: rgba(255, 145, 70);
    font-family: 'Alfa Slab One', sans-serif;
}

/* cliente */
.titulo {
    background-color: rgba(255, 145, 70);
    padding-top: 100px;
    
}
.titulo h2 {
    margin: auto;
    padding: 30px;
    width: 400px;
    background-color: black;
    text-align: center;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 30px;
    color: white;
}
.clientes {
    background-color: rgba(255, 145, 70);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.clientes img {
    width: 350px;
    height: 150px;
    margin: 50px;
    
}

/* Contacto */
.contacto {
    display: inline-flex;
    background-color: black;
    color: white;
    min-width: 150px;
    

}
.contactoInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 40rem;
    
    
    
}
.contactoInfo h1 {
    color: rgba(255, 145, 70);
    text-align: center;
    background-color: white;
    width: 400px;
    height: 50px;
    margin: 0 auto ;
    font-size: 25px;
    padding-top: 15px;
}
.contactoInfo h2 {
    color: rgba(255, 145, 70);
    margin: 55px auto;
    
}
.contactoInfo p {
    color: white;
    margin: 0 auto;
}
.contactoInfo a {
    text-decoration: underline;
    font-size: 1.8rem;
    color: orange;
    margin: 0 auto;
}
.contactoImagen img{
    
    height: 46rem;
    width: 100%;
}
/*Media*/
@media only screen and (max-width: 1000px) {
    .header {
        height: 7rem;
    }
    .header ul  {
        flex-direction: column; 
        font-size: 1em; 
        margin-right: 2rem;
    }
    .header ul li  {
        display: none; 
        font-size: 1.4em;
        
    }
    .headerLogo {
        font-size: 1.5em;
        margin: auto;
    }
    #hInicio {
        display: contents ;
    }
    #hServicios {
        display: contents ;
    }
    #hContacto {
        display: contents ;
    }
    .inicio {
        margin-top: 50px;
        flex-direction: column;
        height: 100rem;
    }
    .inicioInfo h1 {
        width: 50rem;
        font-size: 4rem;
    }  
    .inicioInfo h3 {
        width: 50rem;
        padding-bottom: 2rem;
        font-size: 2.15rem;
    }  
    .inicio img{
        margin-top: 10rem;
        width: 30rem;
    }
    /*Que Hacemos*/
    .queHacemos {
        flex-direction: column;
        height: 110rem;
    }
    .queHacemos img {
        display: none;
        
    }
    .queHacemosInfo {
        width: 100%;
        
        
    }
    .queHacemosInfo h2 {

        font-size: 3.5rem;
    }
    .queHacemosInfo p {
        font-size: 2em;
        
        
    }
    .queHacemosInfo::after {
        margin-top: 5px;
        content: "Gruas y Montacargas de Risaralda";
        width: 40rem;
        height: 50rem;
        background-image: url("images/Nissan cargando horno.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        align-content: flex-end;
        margin: 10rem 0;
    }
    /*nuestros Servicios*/
    .flex-container_servicios {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        height: 90rem;
        padding-top: 3rem;
        margin: 15px auto;
        width: 100%;
        height: 100rem;
        display: flex;
        text-align: center;
    }
    .servicio {
        width: 100%;
        font-size: 1.7rem;
    }
    .servicio img {
        width: 40%;
        margin: auto;
    }
    /*Contacto*/
    .contacto {
        flex-direction: column;
        width: 100%;
        font-size: 1.7rem;
        height: 100rem;
       
    }
    .contactoInfo h1 {
        font-size: 2rem;
        padding: 3rem;
        width: 40rem;
        margin-top: 10rem;
    }
    .contactoInfo p {
        color: white;
        font-size: 2rem;
    }
    .contactoInfo a {
        text-decoration: underline;
    }
    .contactoImagen img{
        margin-top: 14rem;
    }
}